<p>Upload a CSV with no headers and Interger IDs in the first column: </p>
<form action='/upload' method='post' enctype='multipart/form-data'>
  <label for='file'>File:</label>
  <input name='file' type='file' />
  <input type='submit' value='Upload' />
</form>
