<section id="form">
  <form action='/upload' method='post' enctype='multipart/form-data'>
    <fieldset>
      <legend>Upload a CSV</legend>
      <p>
        <label for='file' style='font-weight: bold'>File</label>
        <input id='file' name='file' type='file' required accept='.csv'/>
      </p>
      <p>
        <label for='column' style='font-weight: bold'>Column Index</label>
        <select id='column' name='column'>
          <% (1..20).each do |col| %>
            <option <%= 'selected ' if col == 2 %>value='<%= col %>'><%= col %></option>
          <% end %>
        </select>
      </p>

      <p>
      <div style='font-weight: bold'>Does the CSV have headers?</div>
      <div class='radio-group'>
        <div class='radio-option'>
          <input type='radio' id='headers' name='headers' value='true' checked>
          <label for='headers-yes'>Yes</label>
        </div>
        <div class='radio-option'>
          <input type='radio' id='headers-no' name='headers' value='false'>
          <label for='headers-no'>No</label>
        </div>
      </div>
      </p>
    </fieldset>
    <button type='submit'>Find Gaps</button>
  </form>
</section>
