<html>
  <head>
    <title>Number Gaps Finder</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  </head>
  <body>
    <h1>Number Gaps Finder</h1>

    <%= yield %>

    <p>Made for Laura</p>
    <p>©2021-2025 Derek Bender</p>
  </body>
</html>
