<html>
  <head>
    <title>Number Gaps Finder</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  </head>
  <body>
    <header>
      <h1><a href="/" style="color: var(--text); text-decoration: none;">Number Gaps Finder</a></h1>
    </header>
      <main>

      <%= yield %>

      <p>Made for Laura</p>
      <p>©2021-2025 Derek Bender</p>
    </main>
  </body>
</html>
