<% if gaps.empty? %>
<p>No gaps were found.</p>
<% else %>
<p>Gaps were found!</p>
<pre><% gaps.each do |gap| %>
<% if gap.f == gap.l %>
<%= "#{fmt(gap.f)}" %>
<% else %>
<%= "#{fmt(gap.f)}-#{fmt(gap.l)}" %>
<% end %>
<% end %>
</pre>
<% end %>
