name: CI

on:
  push:
    branches-ignore:
      - "dependabot/**"
  pull_request:
    types: [labeled]
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  container:
    runs-on: ubuntu-latest
    if: >
      contains(github.event.pull_request.labels.*.name, 'dependencies')
      || github.event_name == 'push'
      || github.event_name == 'workflow_dispatch'
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.0
        with:
          ref: ${{ github.event.pull_request.head.sha || '' }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          tags: number_gaps:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

  zeitwerk:
    runs-on: ubuntu-latest
    if: >
      contains(github.event.pull_request.labels.*.name, 'dependencies')
      || github.event_name == 'push'
      || github.event_name == 'workflow_dispatch'
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.0
        with:
          ref: ${{ github.event.pull_request.head.sha || '' }}

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Check zeitwerk loading is correct
        run: bin/rails zeitwerk:check

  scan_ruby:
    name: Scan Ruby
    runs-on: ubuntu-latest
    if: >
      contains(github.event.pull_request.labels.*.name, 'dependencies')
      || github.event_name == 'push'
      || github.event_name == 'workflow_dispatch'
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.0
        with:
          ref: ${{ github.event.pull_request.head.sha || '' }}

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Scan for common Rails security vulnerabilities using static analysis
        run: bin/brakeman --no-pager

  scan_js:
    name: Scan JavaScript
    runs-on: ubuntu-latest
    # if: >
    #   contains(github.event.pull_request.labels.*.name, 'dependencies')
    #   || github.event_name == 'push'
    #   || github.event_name == 'workflow_dispatch'
    if: false # not using any javascript right now
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.0
        with:
          ref: ${{ github.event.pull_request.head.sha || '' }}

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Scan for security vulnerabilities in JavaScript dependencies
        run: bin/importmap audit

  lint:
    name: Lint
    runs-on: ubuntu-latest
    if: >
      contains(github.event.pull_request.labels.*.name, 'dependencies')
      || github.event_name == 'push'
      || github.event_name == 'workflow_dispatch'
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.0
        with:
          ref: ${{ github.event.pull_request.head.sha || '' }}

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Lint code for consistent style
        run: bin/standardrb --format github

  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      RAILS_ENV: test
    if: >
      contains(github.event.pull_request.labels.*.name, 'dependencies')
      || github.event_name == 'push'
      || github.event_name == 'workflow_dispatch'
    # services:
    #  redis:
    #    image: redis
    #    ports:
    #      - 6379:6379
    #    options: --health-cmd "redis-cli ping" --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.0
        with:
          ref: ${{ github.event.pull_request.head.sha || '' }}

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Run tests
        env:
          LIZARD_API_KEY: ${{ secrets.LIZARD_API_KEY }}
          LIZARD_URL: ${{ vars.LIZARD_URL }}
          # REDIS_URL: redis://localhost:6379/0
        run: bin/rails test

      - name: Run system tests
        run: bin/rails test:system

      - name: Keep screenshots from failed system tests
        uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: screenshots
          path: ${{ github.workspace }}/tmp/screenshots
          if-no-files-found: ignore
